

.LOGIN {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(259,216,149);
    font-family: 'Chakra Petch', sans-serif;
  }
  
 .LOGIN .form {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: white;
  }
  
  .LOGIN .form label {
    margin-bottom: 5px;
  }
  
  .LOGIN .form input[type="email"],
  .LOGIN .form input[type="password"] {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .LOGIN .form button {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
  }
  
  .LOGIN .form button:hover {
    background-color: #0056b3;
  }
  
  .LOGIN .form p {
    text-align: center;
    font-size:x-small;
  }
  
  .err{
    color: rgb(177, 65, 65);
    font-size: small;
    font-weight: bold;
    text-align: center;
    font-size: small;
  }
  
  .LOGIN .form a {
    color: #007BFF;
    text-decoration: none;
  }
  
  .LOGIN .form a:hover {
    text-decoration: underline;
  }